body {
	font-family: "Raleway", sans-serif !important;
	font-weight:500;
	color: #f44336;
}

h1 {
	font-weight:800;
	font-size:45px;
}

#status {
	margin-top:30px;
}

.timer-length {
	font-size:22px;
	padding: 0px 8px 0px 8px;
	vertical-align:middle;
}

.page-header {
	background:#f44336;
	color:white;
	border:none;
	margin:0px 0px 20px 0px;
	padding: 20px 15px 30px 15px;
}

.btn-modify {
	color: #fff;
	font-size:22px;
	background-color:#f44336;
	border-color:#e53935;
	padding:0px 12px; 
}

.btn-modify:hover {
	color: #fff;
	font-size:22px;
	background-color:#e53935;
	border-color:#d32f2f;
	padding:0px 12px; 
}

.btn-modify:focus {
    color: #fff;
}

.btn-reset {
	color: #fff;
	font-size:18px;
	background-color:#c0ca33;
	border-color:#afb42b;
	margin: 30px 15px 30px 15px;
}
.btn-reset:hover {
    color: #fff;
    background-color: #afb42b;
    border-color: #9e9d24;
}
.btn-reset:focus {
    color: #fff;
}

.btn-normal {
	color: #fff;
	font-size:18px;
	background-color:#4caf50;
	border-color:#43a047;
	margin: 30px 15px 30px 15px;
}
.btn-normal:hover {
    color: #fff;
    background-color: #43a047;
    border-color: #388e3c;
}
.btn-normal:focus {
    color: #fff;
}

.btn-pause {
	color:#fff;
	font-size:18px;
	background-color:#ffb300;
	border-color:#ffa000;
	margin: 30px 15px 30px 15px;
}
.btn-pause:hover {
    color: #fff;
    background-color: #ffa000;
    border-color: #ff8f00;
}
.btn-pause:focus {
    color: #fff;
}